<% include head %>
  <body>
      <a href='/parts' class='changepart'> Brain Part List </a>
    <h1><%= title %></h1>
     <div>
          <% if (user.local.email != null) { %>
            <!--<img src="https://avatars.io/gravatar/<%= user.local.email %>" class="img-circle"><br>-->
            <strong>Logged in by</strong> : <%= user.local.email %><br>
          <% } %>
           <br>
        </div>
    <p><%= part.name %> </p>
      
      <P> It means <%= part.meaning%>.</P>
      <p> Functionality:</p>
    <!--<ul>
     <% for(var i=0; i<part.functionalities.length; i++) {%>
       <li>
         <span id="color"><%= part.functionalities[i] %></span>
       </li>
     <% } %>
    </ul>-->
      <ul> 
  
          <% part.functionalities.forEach(function(functionality){ %>
          <li>
          <span><%= functionality.functionality %></span>
          </li>
          <% }); %>
</ul>
      <br><br>
      
      <%if (user.local.email === part.partemail) { %>
      <a href='/deletepart/<%= brainpart._id %>' class="changepart"> Delete this part. </a>
      <a href='/updatemeaning/<%= brainpart._id %>' class="changepart"> Update meaning. </a>
      <a href='/updatefunctionalities/<%= brainpart._id %>' class="changepart"> Update functionalities </a>
      <% } %>
      <br><br><br>
      <div>
          <p>Created by <%= part.partemail %></p> 
      </div>
  </body>
</html>